@using Blazored.LocalStorage
@using ChatGPTClone.WasmClient.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage
@inject ThemeService ThemeService

<AuthorizeView>
    <Authorized>
        <div class="flex" data-theme="@ThemeService.CurrentTheme">
            <NavMenu />
            <main class="flex-1 min-h-screen flex">
                @Body
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        @Body
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var theme = await LocalStorage.GetItemAsync<string>("theme");
        if (string.IsNullOrEmpty(theme))
        {
            await LocalStorage.SetItemAsync("theme", "light");
        }
        ThemeService.CurrentTheme = theme;
        ThemeService.OnChange += StateHasChanged;
        await base.OnInitializedAsync();
    }
}
